
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;


}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(3, 1, 47)
}

.logo{
    width: 200px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:red;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    
}

.navbar ul li:hover::after{
    width: 100%;
    
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
    color: #fff
}

.content h1{
    font-size: 70px;
    margin-top:80px;
}

.content p{
    margin: 20px auto;
    font-weight:100;
    line-height:25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #004196;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow:hidden;
}

span{
    background: #004196;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;

}

button:hover span{
    width:100%;

}

button:hover{
    border: none;
}

.content1{
    width: 100%;
    padding: 200px 0px;
    background-color: black;
}

.content1 pic{
    height: auto;
    width: 400px;
}

.text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom:20px;
}

.text h5{
    color: red;
    font-size: 20px;
    
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-family: Brush Script
}


.text p{
    color: rgb(23, 141, 237);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 45px;
    font-family: Didot;

}

.others{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background: black;
}

form{
    background: white;
    width: 500px;
    padding: 30px;
    font-size: 18px;
}

.message-icon{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.message-icon i{
    font-size:40px;
}

.message-icon span{
    font-size: 22px;
    font-weight: bold;
    margin-left: 15px;

}

form input, textarea{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid blue;
    outline: none;
}

#input-field{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

#input-field i{
    font-size: 22px;
    margin-right: 15px
}

.send-btn{
    width: 100px;
    border: none;
    background: black;
    color: WHITE;
    font-size: 16px;
    padding: 6px 0;
    border-radius: 50px;




}







